<p id="notice"><%= notice %></p>

<p>
  <b>Date at:</b>
  <%= @receipt.date_at %>
</p>

<p>
  <b>Payee:</b>
  <%= @receipt.payee %>
</p>

<p>
  <b>Memo:</b>
  <%= @receipt.memo %>
</p>

<p>
  <b>Amount:</b>
  <%= @receipt.amount %>
</p>

<p>
  <b>Attachment:</b>
  <%= @receipt.attachment %>
</p>


<%= link_to 'Edit', edit_receipt_path(@receipt) %> |
<%= link_to 'Back', receipts_path %>
